<!doctype html>
<html>
<head>
	<title>It's 5 o'clock somewhere</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body {{#live}}data-live="live"{{/live}}>
	<h1><span class="a">It's</span> <span class="b">5 o'clock</span> <span class="c">somewhere</span></h1>

	{{#buckets}}
	<section class="bucket" data-offset="{{ offset }}">
		<header>
			<h2>It's <time datetime="{{ time.iso }}">{{ time.human }}</time> in&hellip;</h2>
		</header>
		<div class="bucketcontent">
			<ul>
			{{#zones}}
				<li>{{ location }}</li>
			{{/zones}}
			</ul>
		</div>
	</section>
	{{/buckets}}

	<script src="/assets/js/somewhere.js"></script>
</body>
</html>
