<!doctype html>
<html>
<head>
	<title>It's 5 o'clock somewhere</title>
	<meta name="viewport" content="width=device-width">
	<style>
		caption {
			display: none;
		}
		td, th {
			text-align: left;
			padding-right: 0.5em;
		}
	</style>
</head>
<body>
	<h1>It's 5 o'clock somewhere</h1>

	{{#buckets}}
	<section class="bucket" data-offset="{{ offset }}">
		<header>
			<h2><time datetime="{{ time.iso }}">{{ time.human }}</time></h2>
		</header>
		<div class="bucketcontent">
			<ul>
			{{#zones}}
				<li>{{ location }}</li>
			{{/zones}}
			</ul>
		</div>
	</section>
	{{/buckets}}

	<script src="/js/somewhere.js"></script>
</body>
</html>
